@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    /* background: linear-gradient(to top), url(regis.png);
    background-position: center;
    background-size: cover; */
}
.main img{
    width: 100%;
    position: absolute;
}
.content{
    position: absolute;
    left: 95px;
    top: 240px;
}
.content h1{
    font-family: 'Abril Fatface';
    color: black;
    font-weight: 400;
    font-size: 70px;
}
.content h1 span{
    color: #919B3E;
}
.content p{
    font-family: 'poppins';
    color: white;
    margin-top: 24px;
}
.form-login{
    position: absolute;
    width: 448px;
    height: 466px;
    right: 142px;
    top: 130px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 10px;
}
.form-content h2{
    margin-top: 33px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    color: #363636;
    
}
.form-content p{
    margin-top: 28px;
    margin-left: 24px;
    font-family: 'poppins';
    color: black;
}
.form-content input{
    width: 400px;
    height: 38px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    /* margin: 24px; */
    font-family: 'poppins';
    margin-left: 24px;
    color: black;
}
.SQ{
    margin: 24px;
    font-family: 'poppins';
    color: #173513;
}


.form-login button{
    background: rgba(217, 217, 217, 0.62);
    width: 400px;
    height: 44px;
    margin-left: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #363636;
}